@model StanceNation_1.Models.EventsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventPrice2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventPrice2)
        </dd>
    </dl>
</div>

